<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/newAccount.css"/>
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css"/>
    <script src="/libs/jquery.js"></script>
    <script src="/libs/jquery-ui.js"></script>
    <script src="/js/verify-password-match.js"></script>
    <title>Create Account</title>
</head>
<body>
<div id="content-div">
    <h1 class="heading">Create an Nerd Table Account</h1>
    <form id="account-form" name="accountForm" method="post" action="/account/resetPassword" onsubmit="return validateForm();">
        <h3>Change Password</h3>
        <table>
            <tr>
                <td class="form-label">
                    New Password:
                </td>
                <td>
                    <input type="password" name="password" class="form-input" required/>
                </td>
            </tr>
            <tr>
                <td class="form-label">
                    Confirm Password:
                </td>
                <td>
                    <input type="password" name="password2" class="form-input" required/>
                </td>
            </tr>
        </table>
        <button class="submit-button">Change Password</button>
        <div id="dialog-div" title="Invalid Input">
            Passwords must match
        </div>
    </form>
</div>
</body>
</html>