<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/home.css"/>
    <script src="/libs/jquery.js"></script>
    <script src="/libs/jquery-ui.js"></script>
    <script src="/js/login-manager.js"></script>
    <title>The Nerd Table Home Page</title>
</head>
<body>
    <div id="content-div">
        <h1>The Nerd Table Home Page</h1>
        <button onclick="logout()">Logout</button>
    </div>
</body>
</html>