<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <script src="/libs/jquery.js"></script>
    <script src="/libs/jquery-ui.js"></script>
    <title>Welcome to the Nerd Table website</title>
</head>
<body>
<div id="content-div">
    <h1>Welcome to the Nerd Table website</h1>
    <table>
        <tr class="vertical-row">
            <td>
                <form id="login-form" method="post" action="login">
                    <h3>Login</h3>
                    <table>
                        <tr>
                            <td class="form-label">
                                Username:
                            </td>
                            <td>
                                <input type="textarea" name="username" class="form-input"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-label">
                                Password:
                            </td>
                            <td>
                                <input type="password" name="password" class="form-input"/>
                            </td>
                            <td>
                                <a href="/newPassword">Forgot Password?</a>
                            </td>
                        </tr>
                    </table>
                    <button class="submit-button">Login</button>
                    <div>
                        Aren't a registered nerd? <a href="/accountSetup">Take the nerd test.</a>
                    </div>
                    <div class="error-text">
                        <%= error %>
                    </div>
                </form>
            </td>
            <td>
                <div id="about-div">
                    <h3>About the Nerd Table</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in malesuada nibh. Vestibulum et porttitor nisi. Mauris at felis quis eros pretium dignissim vitae eget risus. Maecenas euismod faucibus tortor, vulputate consectetur est imperdiet a. Donec eleifend, lectus id tristique tincidunt, dui tortor rutrum nunc, in fermentum lectus ipsum a nisi. Praesent suscipit, turpis id imperdiet semper, urna magna aliquam diam, at fermentum ligula sem quis odio. Donec orci orci, tristique at justo in, interdum.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>