<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <script src="/libs/jquery.js"></script>
    <script src="/libs/jquery-ui.js"></script>
    <title>Welcome to the Nerd Table website</title>
</head>
<body>
<div id="content-div">
    <h1 class="heading">Welcome to the Nerd Table website</h1>
    <table>
        <tr class="vertical-row">
            <td>
                <form id="login-form" method="post" action="login">
                    <h3>Login</h3>
                    <table>
                        <tr>
                            <td class="form-label">
                                Username:
                            </td>
                            <td>
                                <input type="text" name="username" class="form-input" required/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-label">
                                Password:
                            </td>
                            <td>
                                <input type="password" name="password" class="form-input" required/>
                            </td>
                            <td>
                                <a href="/newPassword">Forgot Password?</a>
                            </td>
                        </tr>
                    </table>
                    <button class="submit-button">Login</button>
                    <div>
                        Aren't a registered nerd? <a href="/account/setup">Take the nerd test.</a>
                    </div>
                    <div class="error-text">
                        <% if(error){ %>
                            <%= error %>
                        <% } %>
                    </div>
                </form>
            </td>
            <td>
                <div id="about-div">
                    <h3>About the Nerd Table</h3>
                    <p>
                        Have you ever wished you could finally find someone who appreciated your nerdy interests?  Or even better a whole table of them?  Look no further.  The Nerd Table website is the ultimate resource.  Simply prove you are a nerd by passing our nerd test, and you will be connected to many other nerds.  This site also supports managing nerd-exclusive lunch tables at your school or business.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>