<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
    <div id="content-div">
        <h1 class="heading"><%=heading%></h1>
        <p>
            <%-message%>
        </p>
    </div>
</body>
</html>