<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <meta charset="UTF-8">
    <title><%=name%></title>
</head>
<body>
<div id="content-div">
    <h1 class="heading"><%=name%></h1>
    <h3>Location</h3>
    <%=location%><br>
    <button onclick="window.location = '/home?tab=2'">Back</button>
</div>
</body>
</html>