<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <meta charset="UTF-8">
    <title>Setup Account</title>
</head>
<body>
<div id="content-div">
    <h1 class="heading">Nerd Table Account Setup</h1>
    <p>
        Please enter your email and a link will be sent to your address to reset your password
    </p>
    <form method="post" action="/email">
        <span id="form-label">Email:</span>
        <input type="email" name="email" required/>
        <input type="hidden" name="mailType" value="EMAIL_PASSWORD_RESET"/>
        <button>Send Email</button>
    </form>
</div>
</body>
</html>