#login-form {
    background-color: #FF5555;
    border: 2px solid #FFFF66;
    border-radius: 5px;
    padding: 10px;
    width: 365px;
}

#about-div {
    vertical-align: top;
    padding-left: 30px
}