body {
    background-color: #FF7777;
    font-family: Times;
}

#content-div {
    background-color: #FF3333;
    padding: 30px;
    width: 80vw;
    min-width: 700px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.form-label {
    text-align: right;
    padding-right: 10px;
}

.error-text {
    color: #AA0000;
}

h1 {
    font-family: 'Arial Black';
}

h1, h3 {
    margin-top: 0;
    color: #333333;
}

.vertical-row > td {
    vertical-align: top;
}

button{
    border-radius: 4px;
    padding: 5px;
    border: none;
    font-family: inherit;
    font-size: 18px;
}

.submit-button{
    width: 100%;
    background-color: #FF0000;
    color: #FFFF00;
}

.heading {
    border-bottom: 4px solid yellow;
    margin-bottom: 20px;
}

h1.heading {
    padding-bottom: 15px;
}

.no-close .ui-dialog-titlebar-close {
    display: none
}






#wrapper .reordered-list li {
    padding: 0.5%;
    margin: 2px;
    background-color: #DDDDFF;
    border: 1px solid black;
    border-radius: 4px;
    width: 25%;
    min-width: 100px;
}
#wrapper .reordered-list {
    list-style-type: none;
}

#wrapper h1 {
    color: #777777;
    font-family: 'Arial Black';
}

#wrapper body {
    font-family: Arial;
    background-color: #FAFAFA;
}

#wrapper #accordion-div {
    width: 50vw;
}

#wrapper td {
    vertical-align: top;
}

#wrapper #lorem-ipsum {
    padding: 0 2% 0 2%;
}

#wrapper #explosions {
    background-color: #FFAA00;
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}

.nerd-table-list {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

.nerd-table-list th {
    border-bottom: 4px solid blue;
    text-align: left;
}

.nerd-table-list td {
    border-bottom: 1px solid blue;
    padding: 2%;
}

.nerd-table-list .delete-col {
    width: 0%;
    padding: 0;
}