<h3>Home</h3>
<h4>Nerd Table Privileges</h4>
<p>
    As a certified member of the Nerd Table, you are entitled to all the benefits of a nerdy community.  Your new acquaintances will be able to understand your highly intelligent interests and hobbies, and share your excitement about them
</p>
